In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("experiment.txt")

In [3]:
dataset

      x         y
0     0  5.060758
1     0  4.589827
2     0  4.334874
3     0  5.175538
4     0  5.981996
..   ..       ...
995  19  6.217576
996  19  8.048165
997  19  5.127057
998  19  6.717842
999  19  7.244118

[1000 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression

# Creating an object of Linear Regression
lm = LinearRegression()
x = np.array(dataset["x"]).reshape(-1,1)
y = np.array(dataset["y"])
# Fit the model using .fit() method
lm.fit(x,y)

LinearRegression()

In [5]:
# Intercept value
print("Intercept :",lm.intercept_)

# Slope value
print('Slope :',lm.coef_)

Intercept : 4.528512452357916
Slope : [0.09923934]

In [6]:
from sklearn.metrics import r2_score
y_train_pred = lm.predict(x)
print(r2_score(y,y_train_pred))

0.21072725319848384

In [8]:
import statsmodels.api as sm
y_train = dataset["y"]
x_train_lm = dataset["x"]
x_train_lm = sm.add_constant(x_train_lm)
lm = sm.OLS(y_train, x_train_lm).fit()

In [9]:
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     266.5
Date:                Tue, 31 Jan 2023   Prob (F-statistic):           2.85e-53
Time:                        01:24:15   Log-Likelihood:                -1521.0
No. Observations:                1000   AIC:                             3046.
Df Residuals:                     998   BIC:                             3056.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.5285      0.068     67.027      0.000       4.396       4.661
x              0.0992      0.006     16.323      0.000       0.087       0.111
==============================================================================
Omnibus:                        2.551   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.279   Jarque-Bera (JB):                2.419
Skew:                          -0.114   Prob(JB):                        0.298
Kurtosis:                       3.080   Cond. No.                         21.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
lm.conf_int(alpha=0.05, cols=None)

              0         1
const  4.395932  4.661093
x      0.087309  0.111170

In [11]:
lm.pvalues

const    0.000000e+00
x        2.851809e-53
dtype: float64

In [12]:
volcano =pd.read_csv("volcano.txt")

In [19]:
volcano.describe()

        duration       next
count  21.000000  21.000000
mean    3.238095  62.714286
std     1.054266  11.925363
min     1.700000  43.000000
25%     2.200000  53.000000
50%     3.500000  62.000000
75%     4.000000  72.000000
max     4.900000  85.000000

In [14]:
y_train = volcano["next"]
x_train_lm = volcano["duration"]
x_train_lm = sm.add_constant(x_train_lm)
lm = sm.OLS(y_train, x_train_lm).fit()

In [15]:
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   next   R-squared:                       0.749
Model:                            OLS   Adj. R-squared:                  0.736
Method:                 Least Squares   F-statistic:                     56.72
Date:                Tue, 31 Jan 2023   Prob (F-statistic):           4.06e-07
Time:                        01:24:20   Log-Likelihood:                -66.820
No. Observations:                  21   AIC:                             137.6
Df Residuals:                      19   BIC:                             139.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         31.0131      4.417      7.022      0.000      21.769      40.257
duration       9.7901      1.300      7.531      0.000       7.069      12.511
==============================================================================
Omnibus:                        0.159   Durbin-Watson:                   2.554
Prob(Omnibus):                  0.923   Jarque-Bera (JB):                0.375
Skew:                          -0.002   Prob(JB):                        0.829
Kurtosis:                       2.345   Cond. No.                         12.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [21]:
predictions = lm.get_prediction(x_train_lm)
predictions.summary_frame(alpha=0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,50.593248,2.092578,46.213432,54.973064,37.038375,64.148121
1,48.635234,2.298544,43.824326,53.446142,34.934992,62.335476
2,67.236365,1.466018,64.167954,70.304776,54.046712,80.426018
3,52.551262,1.899905,48.574714,56.527810,39.121268,65.981255
4,51.572255,1.994333,47.398068,55.746442,38.082421,65.062089
5,54.509276,1.724987,50.898836,58.119715,41.183096,67.835455
6,56.467289,1.573753,53.173386,59.761193,43.223363,69.711216
7,58.425303,1.453616,55.382850,61.467757,45.241665,71.608941
8,63.320338,1.339838,60.516025,66.124650,50.189612,76.451063
9,65.278351,1.380071,62.389829,68.166874,52.129384,78.427319
10,67.236365,1.466018,64.167954,70.304776,54.046712,80.426018
11,68.215372,1.523879,65.025856,71.404888,54.997021,81.433723
12,75.068420,2.116474,70.638589,79.498252,61.497304,88.639537
13,77.026434,2.323785,72.162696,81.890172,63.307551,90.745317
14,70.173386,1.664209,66.690157,73.656615,56.881107,83.465665
15,70.173386,1.664209,66.690157,73.656615,56.881107,83.465665
16,47.656227,2.405454,42.621555,52.690900,33.875817,61.436638
17,48.635234,2.298544,43.824326,53.446142,34.934992,62.335476
18,78.984448,2.540802,73.666489,84.302407,65.098034,92.870861
19,72.131400,1.830889,68.299305,75.963494,58.743467,85.519332
20,73.110407,1.922012,69.087590,77.133223,59.666641,86.554173

In [22]:
(50-31)/9.79

1.940755873340143